# Core modules (mandatory)
jupyterlite-core==0.4.4
jupyterlab~=4.2.6
notebook~=7.2.2


# Python kernel (optional)
jupyterlite-pyodide-kernel==0.4.4

# JavaScript kernel (optional)
jupyterlite-javascript-kernel==0.3.0

# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
jupyterlab_miami_nights

# Customized launcher
jupyter_app_launcher

# Teahouse dependencies
anywidget==0.9.9